
    .swiper {
      width: 100%;
      overflow:visible;
    }
    .swiper-slide {
      width: 100px;
      flex-shrink: 0;
    }
    .swiper-button-next,
    .swiper-button-prev {
     color: #555;
     top: 40%;
     scale: 0.8;
}
   .swiper-button-next:hover,
   .swiper-button-prev:hover {
     color: #000;
      transform: scale(1.05);
      transition: 0.3s ease;
}
    .card {
     width: 100%;
     border: none;
}
    .card img {
      height: 400px;
      object-fit: cover;
      border-radius:8px;
    }
    .card-body {
      padding: 8px 5px;
}

    .card-title {
     font-size: 0.8rem;
     font-weight: 600;
     min-height: 12px;    
}

    .card-text {
     font-size: 0.75rem;
     margin-bottom: 4px;
}
    .btn {
     font-size: 0.8rem;
     padding: 2px 6px;
}
    .card:hover {
      transform: scale(1.05);
      transition: 0.3s ease;
    }

